.tasklist {
    padding-top: 2em;
}
.task.done {
    background: lightgreen;
}

.task.done label {
    text-decoration: line-through;
}

.task.todo{
    background: lightgoldenrodyellow;
}

.description {
    color: slategrey;
    font-style: italic;
}